@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Fira+Mono:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.bg-CorNav {
    /* background-color: #ff6a00; */
    background-color: #24c8dded;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 2rem;
    padding-bottom: 100px;
    margin: 15px;
    gap: 15px;
}

@media screen and (max-width:450px) {
    #h1Video{
        font-size: 2em;
        text-align: center;
        padding-top: 100px;
        margin-left: 0px;
        padding: 0;
        color: rgba(255, 255, 255, 0.6);
        text-transform: capitalize;
        line-height: 50px;
        text-shadow: 0.1em 0.1em 0.2em black;
        }
    .banner {
        padding: auto;
        margin: auto;
        width: 70vw !important;
        height: 50vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
         font-family: 'Roboto', sans-serif;
    }
    .text-center h1 {
         font-size: 25px !important;
    }
    .navbar-brand img{
        max-width: 80px !important;
    }
    .nossoLocal iframe{
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width:990px) {

    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -60px;
        margin-top: 4px;
        top: 0;
    }

    /* Efeito hover na navegação */
    .nav-link:hover,
    .nav-link.active {
        background-color: #0a95bb;
        color: #fff !important;
        transition: all 0.5s;
    }

    .nav-link {
        transition: all 0.5s;
    }

    .configNavbar {
        height: 100px;

    }

    li.nav-item a {
        padding: 37px 0;
    }
}

/* Banner Home */
.banner {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.banner video {
    position: absolute;
    /* top: 0;
    left: 0; */
    object-fit: cover;

}

.banner .content {
    position: relative;
    z-index: 1;
    max-width: 100px;
    margin: 0 auto;
    text-align: center;
}

.banner .content h1 {
    margin-left: -500px;
    padding: 0;
    font-size: 4em;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    line-height: 150px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.banner .content p {
    font-size: 1.5em;
    color: white;

}

/* FIM RESPONSIVO */

/*HOME */

.card-text{
    font-family: 'Roboto', monospace;
    text-align: justify;
}

.card-title{
    font-family: 'Roboto', monospace;
    text-align: center;
    font-weight: bold;

}

.titleBanner{
    font-weight: bold;
}

.w-lg-50{
    font-weight: bold;
}

.card-title .promocao{
    font-family: 'Roboto', monospace;
}
.valorRiscado{
    font-size: 20px;
    text-align: center;
    display: block;
    text-decoration: line-through;
    font-family: 'Roboto', monospace;
}

.valorp{
    font-size: 30px;
    text-align: center;
    color: red;
    display: block;
    font-family: 'Roboto', monospace;
}

.icofont-navigation-menu {
    color: #ffffff;
}

/* EMPRESA */


#visitar {
    
    font-family: 'Roboto', monospace;
    text-align: justify;
    font-weight: bold;

}


#obj {
    
    font-family: 'Roboto', monospace;
    text-align: justify;
    font-weight: bold;
}

.textp {
    text-align: justify;
    font-family: 'Roboto', monospace;

}

/*Acomodações*/

#view{
    text-align: center;
 
}

a{
    text-decoration: none;
    color: green;
}

.pr {
    margin-top: 20%;
}

/* DEPOIMENTOS */

.text-center h1 {

    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.depoimento {
    margin-top: 15px;

}
.depoimento h5{
    font-weight: 700;
}

/* CONTATO */
#iconZap{
    text-decoration: none;
    font-size: 40px;
    color: green;
    transition: 1s;
}
#iconZap:hover{
    font-size: 41px;
    color: rgba(0, 128, 0, 0.600);
    transition: 0.7s;
}


/* Cookie LGPD */
.lgpd{
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 5px;
    padding: 20px;
    background-color: rgba(52, 56, 56, 0.900);
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lgpd a{
    transform-style: none;
}
.lgpd button{
    background-color: green;
    border: 0;
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    transition-duration: 1s;
}
.lgpd button:hover{
    transition-duration: 1s;
    background-color: rgba(0, 128, 0, 0.586);
}

/* FOOTER */
.page-footer {
    flex-shrink: 0;
    width: 100%;
    /* height: 50px; */
    bottom: 0;
    background-color: #0a95bb;

}

.page-footer,
.footer-copyright {
    padding: 15px 0;
}

.footer-copyright * {
    color: aliceblue;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.footer-copyright a:hover {
    color: black;
    text-align: left;
}

.right {
    float: right;
    text-decoration: none;
    text-align: right;
}