* {
        margin: 0;
        padding: 0;
}

container{
        justify-content: space-evenly;
}

.row {
        padding: 15px;
        gap: 20px;
text-align: center;
        align-items: center;
}


a {
        text-decoration: none;
        color: green
}