<div class="container">

  <div class="row">
    <div class="col-5 .col-md-5">
      Devs Paradaise Resorts tem algo especial
      para
      você,
      para cada idade ou hobbies que lhe fascine. O nosso resort fica
      localizado nas praias mais encantadoras da America Latina, nossos
      espaços
      são perfeitos para umas férias em família
      ou uma estadia romântica, bem como para reuniões, casamentos, luas de
      mel
      e aniversários. Temos opções de acomodações para todos os gostos e para
      aquelas familias bem grandinhas.
    </div>
    <div class="col-6 .col-md-5"><img src="/img/quartostand01.jpg">
  </div>
  
  <div class=".col-xl-4 col-lg-3 .col-md-5 .col-sm-9">
  </div>
  <div class="row">
    <div class="col-6"><img src="/img/quartoluxo.jpg"></div>
    <div class="col-5 .col-md"><p> Devs Paradaise Resorts tem algo especial
      para
      você,
      para cada idade ou hobbies que lhe fascine. O nosso resort fica
      localizado nas praias mais encantadoras da America Latina, nossos
      espaços
      são perfeitos para umas férias em família
      ou uma estadia romântica, bem como para reuniões, casamentos, luas de
      mel
      e aniversários. Temos opções de acomodações para todos os gostos e para
      aquelas familias bem grandinhas. </p></div>
  </div>

  
  <div class="row">
    <div class="col-6 col-md-12"></div>
    <div class="col-6 col-md-4"> Curta sua estadia com vista para o mar,
      quartos integrados com estação de trabalho completa para você não se preocupar
      e atender aquele chamado de última hora. </div>

    <div class="col-6 col-md-4"><img src="/img/quarto2.png"></div>
  </div>


  <div class="row">
    <div class="col-6 .col-md-5"><img src="/img/suite.png"></div>
    <div class="col-5 .col-md-5">
      Devs Paradaise Resorts tem algo especial
      para
      você,
      para cada idade ou hobbies que lhe fascine. O nosso resort fica
      localizado nas praias mais encantadoras da America Latina, nossos
      espaços
      são perfeitos para umas férias em família
      ou uma estadia romântica, bem como para reuniões, casamentos, luas de
      mel
      e aniversários. Temos opções de acomodações para todos os gostos e para
      aquelas familias bem grandinhas.
    </div>
  </div>
  </div>

</div>
<div class="row">
    <div class="col"><img src="/img/suite.png"></div>
    <div class="col"> Devs Paradaise Resorts tem algo especial
      para
      você,
      para cada idade ou hobbies que lhe fascine. O nosso resort fica
      localizado nas praias mais encantadoras da America Latina, nossos
      espaços
      são perfeitos para umas férias em família
      ou uma estadia romântica, bem como para reuniões, casamentos, luas de
      mel
      e aniversários. Temos opções de acomodações para todos os gostos e para
      aquelas familias bem grandinhas.</div>
    <div class="w-100"></div>
    <div class="col"> Devs Paradaise Resorts tem algo especial
      para
      você,
      para cada idade ou hobbies que lhe fascine. O nosso resort fica
      localizado nas praias mais encantadoras da America Latina, nossos
      espaços
      são perfeitos para umas férias em família
      ou uma estadia romântica, bem como para reuniões, casamentos, luas de
      mel
      e aniversários. Temos opções de acomodações para todos os gostos e para
      aquelas familias bem grandinhas.</div>
    <div class="col"><img src="img/coworking.jpeg"></div>
  </div>
</div>


