<div class="container">
  <div class="row">
    <h2 id="view">Aproveite sua estadia no melhor Resort de Cancún!
    </h2>

    <div class="col-sm-6">
      <img class="img-fluid" src="/img/nossoresort.jpg">
    </div>
    <div class="col-sm-6">
      
      <p class="textp pr">O Devs Paradise Resort têm algo especial
        para você, para cada faixa hetária ou hobbie que lhe fascine. O nosso Resort fica
        localizado nas praias mais encantadoras da America Latina, nossos
        espaços são perfeitos para férias em família
        ou uma estadia romântica, bem como para reuniões, casamentos, luas de
        mel e aniversários. Temos opções de acomodações para todos os gostos e
        para aquelas famílias maiores.</p>
    </div>
    <div class="row">
      <div class="col col-sm-6">
       
        <p class="textp pr"> Desfrute de uma deliciosa vista pro mar enquanto trabalha ou
          curte uma piscininha com drinks exclusivos da casa.
          As unidades do Resort ainda possuem piscina com borda infinita que liga
          direto ao mar do Caribe.</p>
      </div>

      <div class="col-sm-6"><img class="img-fluid" src="img/piscina.jpg">
      </div>
    </div>

    <div class="col-sm-6"><img class="img-fluid" src="/img/quarto1.png"></div>

    <div class="col-sm-6">
    
      <p class="textp pr">Nosso Resort oferece oportunidades exclusiva para todos
        aqueles que trabalham na área de tecnologia e sua família poderem
        desfrutar juntos da nossa acomodação 5 estrelas, Wi-Fi grátis, área
        privativa na praia e recepção 24 horas, além de suporte técnico para seu trabalho poder fluir com tranquilidade.
      </p>
    </div>
    <div class="w-100"></div>
    <div class="col-sm-6">
 
      <p class="textp pr"> Acorde com uma incrível vista, numa região privilegiada
        da praia Playa Norte, em Isla Mujeres, considerada uma das melhores praias do mundo.
      </p>
    </div>
    <div class="col-sm-6"><img class="img-fluid" src="/img/quartofamily.png"></div>
    <div class="w-100"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6"><img class="img-fluid" src="/img/quartostand01.jpg"></div>
  <div class="col-sm-6">
    
    <p class="textp pr">Todos os quartos do Devs Paradise têm TV de tela plana com canais
      via satélites, ar condicionado, frigobar, cafeteira e um banheiro privativo equipado com chuveiro, roupões
      de banho e chinelos.</p>
  </div>
  <div class="w-100"></div>
  <div class="col-sm-6">
  
    <p class="textp pr"> Nossas suítes luxo são integradas com hidromassagem para
      aquele banho relaxante após o trabalho, ou dia de sol, passeios e muita diversão.
      O banheiro privativo conta um variedade de produtos de banho gratuitos.</p>
  </div>
  <div class="col-sm-6"><img class="img-fluid" src="img/suite.png"></div>
  <div class="row">
    <div class="col-sm-6"><img class="img-fluid" src="/img/quarto4.png"></div>
    <div class="col-sm-6">
      
      <p class="textp pr">Para quem precisar recarregar as energias. Nossa
        acomodação é muito bem avaliada por possuir quartos sempre arejados e
        camas confortáveis. Você não vai sentir falta da sua cama!</p>
    </div>
    <div class="w-100"></div>
    <div class="col-sm-6">

      <p class="textp pr">Curta a sua estadia da melhor maneira possível,
        quartos integrados com estação de trabalho completa para você não se
        preocupar em atender aquele chamado de última hora ou se preferir temos
        um ótimo coworking disponível para você que estará aberto 24h por dia. E para sua comodidade com o transporte, 
        o Aeroporto Internacional de Cancún está a apenas 10 km da nossa propriedade.</p>
    </div>
    <div class="col-sm-6"><img class="img-fluid" src="img/coworking.jpeg"></div>
    <div class="faleConosco" style="
      position: fixed;
      bottom: 100px;
      right: 0;
      width: 100px;
            ">
      <a id="linkA" href="https://api.whatsapp.com/send?phone=5581994486704&text=Olá,
        gostaria de fazer uma reserva!" target="_blank">Fale conosco
        <i class="icofont-whatsapp icofont-3x"></i></a>
    </div>
  </div>
</div>
