<!---Feito por Helena e Eugenia-->

<div class="row">
    <div class="col-12">
        <h2 class="text-center">Promoções Devs Paradise Resort!</h2>
        <p class="text-center">Confira alguns de nossos pacotes exclusivos para desenvolvedores</p>
    </div>
</div>

<div class="container py-4 py-xl-5">
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
            <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                    src="img/pacotes/resortcancun.jpg" />
                <div class="card-body p-4">
                    <h4 class="card-title promocao">Três diárias para 2 pessoas</h4>
                    <p class="card-text"><span class="valorRiscado"><small>De US$ 1499.00</small></span>
                        <span class="valorp">Por US$ 1099.00</span>
                    </p>
                    <a href="index.html?page=contatos"><button
                            class="btn btn-warning btn-lg border rounded-0 ripple-effect" type="button"
                            style="width:100%">Saiba mais!</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                    src="img/pacotes/piscinaTeen.jpg">
                <div class="card-body p-4">
                    <h4 class="card-title">Aproveite um Day Use</h4>
                    <p class="card-text"><span class="valorRiscado"><small>De US$ 500.00</small></span>
                        <span class="valorp">Por US$ 300.00</span>
                    </p>

                    <a href="index.html?page=contato"><button
                            class="btn btn-warning btn-lg border rounded-0 ripple-effect" type="button"
                            style="width:100%">Saiba mais!</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                    src="/img/pacotes/salajogos.jpg" />
                <div class="card-body p-4">
                    <h4 class="card-title">Curta uma noite de jogos!</h4>
                    <p class="card-text"><span class="valorRiscado"><small>De US$ 300.00</small></span>
                        <span class="valorp">Por US$ 249.00</span>
                    </p>

                    <a href="index.html?page=contato"><button
                            class="btn btn-warning btn-lg border rounded-0 ripple-effect" type="button"
                            style="width:100%">Saiba mais!</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
            <div><span>  </span></div>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
            <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                    src="/img/pacotes/praiaDescanso.jpg" />
                <div class="card-body p-4">
                    <h4 class="card-title">Diária na alta temporada</h4>
                    <p class="card-text"><span class="valorRiscado"><small>De US$ 1000.00</small></span>
                        <span class="valorp">Por US$ 800.00</span>
                    </p>
                
                    <a href="index.html?page=contato"><button
                            class="btn btn-warning btn-lg border rounded-0 ripple-effect" type="button"
                            style="width:100%">Saiba mais!</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                    src="img/pacotes/praia.jpg" />
                <div class="card-body p-4">
                    <h4 class="card-title">Duas diárias na alta temporada</h4>
                    <p class="card-text"><span class="valorRiscado"><small>De US$ 2000.00</small></span>
                        <span class="valorp">Por US$ 1500.00</span>
                    </p>
                    <a href="index.html?page=contato">
                        <button class="btn btn-warning btn-lg border rounded-0 ripple-effect" type="button"
                            style="width:100%">Saiba mais!</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                    src="img/pacotes/spa.jpg" />
                <div class="card-body p-4">
                    <h4 class="card-title">Day Use Spa</h4>
                    <p class="card-text"><span class="valorRiscado"><small>De US$ 300.00</small></span>
                        <span class="valorp">Por US$ 150.00</span>
                    </p>
                    <a href="index.html?page=contato">
                        <button class="btn btn-warning btn-lg border rounded-0 ripple-effect" type="button"
                            style="width:100%">Saiba mais!</button>
                    </a>
                </div>
            </div>
        </div>

        <!-- Promoção 07 -->
        <div class="col">
            <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                    src="/img/promoMassage.jpg" />
                <div class="card-body p-4">
                    <h4 class="card-title promocao">Massagem executiva Dev's</h4>
                    <span class="valorRiscado"><small>De US$ 450.00</small></span>
                    
                    <span class="valorp">Por US$ 399.00</span>                 
                    <br>
                    <br>
                    <a href="index.html?page=contato"><button
                            class="btn btn-warning btn-lg border rounded-0 ripple-effect" type="button"
                            style="width:100%">Saiba mais!</button>
                    </a>

                </div>
            </div>
        </div>
        <!-- Promoção 08 -->
        <div class="col">
            <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                    src="/img/espacoInfantil.jpg" />
                <div class="card-body p-4">
                    <h4 class="card-title promocao">Espaço Infantil</h4>
                    <span class="valorp">Por US$ 59,90</span>                 
                    <br>
                    <p class="card-text" id="pCenter">" Valor da diária "</p>
                    <br>
                    <a href="index.html?page=contato"><button
                            class="btn btn-warning btn-lg border rounded-0 ripple-effect" type="button"
                            style="width:100%">Saiba mais!</button>
                    </a>

                </div>
            </div>
        </div>

        <!-- Promoção 09 -->
        <div class="col">
            <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                    src="/img/radicais.jpg" />
                <div class="card-body p-4">
                    <h4 class="card-title promocao">Atrações Radicais</h4>
                    <p class="card-text" id="pCenter"> á Partir de: </p>
                    <span class="valorp"> US$ 80.00</span>                 
                    <br>
                    <br>
                    <a href="index.html?page=contato"><button
                            class="btn btn-warning btn-lg border rounded-0 ripple-effect" type="button"
                            style="width:100%">Saiba mais!</button>
                    </a>

                </div>
            </div>
        </div>
        <!-- Promoção 10 -->
        <div class="col">
            <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;"
                    src="/img/mergulhoGuiado.jpg" />
                <div class="card-body p-4">
                    <h4 class="card-title promocao">Mergulhos Guiados</h4>
                    <span class="valorRiscado"><small>De US$ 450.00</small></span>
                    
                    <span class="valorp">Por US$ 375.00</span>                 
                    <br>
                    <br>
                    <a href="index.html?page=contato"><button
                            class="btn btn-warning btn-lg border rounded-0 ripple-effect" type="button"
                            style="width:100%">Saiba mais!</button>
                    </a>

                </div>
            </div>
        </div>
    <!--  -->
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="text-center">Atividades</h2>
        <p class="text-center">descriçao</p>
    </div>
</div>

<div class="acomodacoes container-fluid">
    <img src="/img/golfinhobeijo.jpg"alt="">
    <img src="/img/adrenalina.jpg" alt="">
    <img src="/img/arraias.jpg" alt="">
    <img src="/img/temazcal.jpg" alt="">
    <img src="/img/adega.jpg" alt="">
    <img src="/img/parazute.jpg" alt="">
</div>