<title>Devs Paradise Resort</title>
        <link rel="shortcut icon" href="img/logoResort01.png"/>


<div class="container text-center">
    <h1><i class="icofont-send-mail"></i> Fale Conosco / Reservas</h1>
    
    <section class="contato">Ou se preferir entre em contato pelo whatsapp
        <a href="https://api.whatsapp.com/send?phone=5547996477834&text=Olá Mundo"><i class="icofont-whatsapp"></i>47 99999-6666</a>
    
        <form action="">
            <input type="text"placeholder="Nome">
            <input type="email"placeholder="E-mail">
            <select>
                <option>Escolha sua opção</option>
                <option>Reservas</option>
                <option>Eventos</option>
                <option>Reuniões</option>
                <option>Outros</option>
            </select>
    
            <textarea placeholder="Mensagem"></textarea>
    
            <button>Enviar</button>
    
        </form>
    
    </section>
    </div>