<div class="container text-center">
  <h1>Depoimentos de alguns de nossos clientes.</h1>
    <div class="row">
      <div class="col depoimento">
        <div class="card" style="width: 18rem;">
            <img src="./img/clientes/cliente01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Larissa Aparecida</h5>
              <p class="card-text">" Simplesmente um lugar inclível, aconchegante e ótimos atendimento, estou encantada. "</p>
            </div>
          </div>
      </div>
      <!--  -->
      <div class="col depoimento">
        <div class="card" style="width: 18rem;">
            <img src="./img/clientes/cliente02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fulano Marcos</h5>
              <p class="card-text">" Lugar top de +, depois de uma longa jornada "codando" em Palo Alto, férias merecida aqui na Devs Paradise Resort. "</p>
            </div>
          </div>
      </div>
      <!--  -->
      <div class="col depoimento">
        <div class="card" style="width: 18rem;">
            <img src="./img/clientes/homem-trabalhando-em-seu-laptop.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pedro de Alcantra</h5>
              <p class="card-text">" Esse lugar é maravilhoso, tão tranquilo que posso continuar trabalhando em Home Office e ainda consigo aproveitar esse lugar maravilhoso que é Cancún. "</p>
            </div>
          </div>
      </div>
      <!--  -->
      <div class="col depoimento">
        <div class="card" style="width: 18rem;">
            <img src="./img/clientes/JessieSantosbusinesswoman.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jessie Santos</h5>
              <p class="card-text">" Excelente lugar para descansar para nós que somos desenvolvedores, toda variedade de comidas e bebidas. O atendimento é excepcional e o lugar é incrivelmente lindo! 
                Fazem jus ao termo Devs Paradise Resort. "</p>
            </div>
          </div>
      </div>
      <!--  -->
      <div class="col depoimento">
        <div class="card" style="width: 18rem;">
            <img src="./img/clientes/AkemiNakamura.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Akemi Nakamura</h5>
              <p class="card-text">" Estou encantada com esse lugar maravilhoso, ganhei as estadias aqui na Devs Paradise Resort, da empresa em que trabalho, decorrente ao meu empenho e ajuda na entrega de um grande projeto que estávamos desenvolvendo, valeu muito a pena! : )  "</p>
            </div>
          </div>
      </div>
      <!--  -->
      <div class="col depoimento">
        <div class="card" style="width: 18rem;">
            <img src="./img/clientes/irmaosDevs.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Richard & Kevin Davis</h5>
              <p class="card-text">" Eu e meu irmão somos donos de uma startup que acabou de fechar um grande negócio com uma multinacional e decidimos vir comemorar aqui essa grande conquista.  "</p>
            </div>
          </div>
      </div>
      <!--  -->
      <div class="col depoimento">
        <div class="card" style="width: 18rem;">
            <img src="./img/clientes/SofiaHeidelberg.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sofia Heidelberg</h5>
              <p class="card-text">"Como trabalho em Home Office, vim aqui para Devs Paradise Resort aproveitar alguns dias e nas horas que tenho que trabalhar, venho para o espaço empresarial que eles têm aqui, estou sem palavras para descrever como é tão organizado e tudo pensado para nós desenvolvedores. "</p>
            </div>
          </div>
      </div>
      <!--  -->
    </div>
  </div>