<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="./img/clientes/cliente01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Larissa Aparecida</h5>
              <p class="card-text">Simplesmente um lugar inclível, aconchegante e ótimos atendimento, estou encantada.</p>
            </div>
          </div>
      </div>
      <!--  -->
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="./img/clientes/cliente02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fulano Marcos</h5>
              <p class="card-text">Lugar top de +, depois de uma longa jornada "codando" em Palo Alto, férias merecida aqui na Devs Paradaise Resort.</p>
            </div>
          </div>
      </div>
      <!--  -->
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="./img/clientes/homem-trabalhando-em-seu-laptop.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pedro de Alcantra</h5>
              <p class="card-text">Esse lugar é maravilhoso, tão tranquilo que posso continuar trabalhando em Home Office consigo aproveitar esse lugar maravilhoso que é Cancún.</p>
            </div>
          </div>
      </div>
    </div>
  </div>