<!---FEITO POR HELENA-->
<div class="container text-align">
  <div class="row">
    <div class="col-12">
      <h3 id="visitar"><i class="icofont-briefcase-2"></i></i>História</h3>
      <p class="textp">O Devs Paradise Resort fica localizado em Cancun no México, foi fundado em 2015 pensando em você
        desenvolvedor,
        que precisa trabalhar mesmo estando em home office, mas que quer curtir um lugar maravilhoso com uma vista linda
        e praticar atividades de lazer nas horas vagas.</p>
      <p class="textp">A ideia de criar esse espaço para Devs veio de dois CEOS de empresas de softwares renomadas
        mundialmente, onde
        as sedes de suas empresas já ofereciam atividades de lazer e descanso para seus funcionários.</p>
      <p class="textp">Inicialmente o Resort recebia apenas clientes do continente americado e com sua expansão em 2017,
        começou a
        receber desenvolvedores de todo o mundo.</p>
    </div>


    <div class="col-12">
      <h4 id="obj"><i class="icofont-check"></i>Objetivos</h4>

      <p class="textp">Proporcionar qualidade de vida aos clientes, para que possam aproveitar-lá como um
        todo e não apenas nas férias.</p>
      <p class="textp">Promover possibilidades diferenciadas para seu trabalho remoto, como coworkings modernos e
        funcionais para que
        você possa trabalhar com todo conforto e
        tranquilidade.
      <p class="textp">Auxiliar por meio de uma equipe de suporte técnico, que estará disponível 24 horas por dia, para
        fornecer todo
        apoio
        necessário para que seu trabalho seja realizado com excelência.</p>
      <p class="textp">Oferecer várias opções para diversão e descanso, desde parques aquáticos, trilhas,
        espaço kids com monitores a ambientes para meditação e prática de Yoga.</p>
    </div>
    <div class="col-12">
      <h4 id="obj"><i class="icofont-people"></i></i>Venha Conhecer o Devs Paradise!</h4>
      <p class="textp">Pacotes exclusivos são oferecidos para melhor atender suas necessidades, entre na aba contatos e
        faça sua
        reserva!
      </p>
      <p class="textp">A equipe do Devs Paradise Resort está esperando por você, família e amigos.</p>
      <div class="col-sm-6">
        <img class="img-fluid" width="100%" src="/img/pacotes/resortcancun.jpg">
      </div>
    </div>
  </div>
 
  <div class="col-sm-6">
    <br>
    <h4 id="obj"><i class="icofont-google-map"></i></i>Localização</h4>
    <div class="nossoLocal">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14881.622909469383!2d-86.8343162326387!3d21.17603555404709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2ea41756270b%3A0x2dcabdfd5147c77!2sSupermanzana%2064%2C%20Canc%C3%BAn%2C%20Quintana%20Roo%2C%20M%C3%A9xico!5e0!3m2!1spt-BR!2sbr!4v1665705188534!5m2!1spt-BR!2sbr"
      width=100% style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div>
</div>