
<h3 id="visitar"><i class="icofont-briefcase-2"></i></i> História</h3>

<div class="container text-align">
    <div class="row">
      <div class="col-sm-12">
        <p>O Devs Paradise Resort fica localizado em Cancun no México, foi fundado em 2015 pensando em você desenvolvedor, que precisa trabalhar mesmo estando em home office, mas que quer curtir um lugar maravilhoso com uma vista linda e atividades de lazer nas horas vagas.</p>
        <p>A ideia de criar esse espaço para Devs veio de dois CEOS de empresas de softwares renomadas mundialmente, onde as sedes de suas empresas já ofereciam atividades de lazer e descanso para seus funcionários.</p>
        <p>Inicialmente o Resort recebia apenas clientes do continente americado e com sua expansão em 2017, começou a receber desenvolvedores de todo o mundo.</p>
      </div>
    <h3 id="obj">Sobre</h3>
      <div class="col-12">
        
                <p>O objetivo da empresa é proporcionar qualidade de vida aos clientes, para que possam aproveitar a vida como um todo e não apenas nas férias.</p>
                <p>O Resort é equipado com coworkings modernos e funcionais para que você possa trabalhar com todo conforto e tranquilidade. A equipe de suporte técnico estará disponível 24 horas por dia, para fornecer todo apoio necessário para que seu trabalho seja realizado com excelência.</p>
                <p>O espaço do Devs Paradise têm diversas opções para diversão e descanso, desde parques aquáticos, trilhas, espaço kids com monitores a ambientes para Meditação e prática de Yoga.</p>
      </div>
      <div class="col-12">
                <p>Pacotes exclusivos são oferecidos para melhor atender suas necessidades, entre em contato e faça sua reserva!</p>
                <p>A equipe do Devs Paradise Resort está esperando por você, sua família e amigos.</p>
      </div>
    </div>
        
        <div class="nossoLocal">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14983.758534244513!2d-44.2188105!3d-20.1365659!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x826228da6f56cf36!2sMercearia%20Volte%20Sempre!5e0!3m2!1spt-PT!2sbr!4v1663701348613!5m2!1spt-PT!2sbr"
                width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
