<!-- <div class="img-wrapper blue has-video revealLazy"> -->
    <div class="banner ratio ratio-16x9">
        <video id="hero-video" autoplay="autoplay" playsinline="" muted="" loop="" preload="true" class=" lazyloaded">
            <source src="./img/iberostar-hero-video-4-low.mp4" type="video/mp4">
          </video>
          <div class="content">
              <h1>Devs Paradaise Resort!</h1>
              <!-- <p>Aqui você encontra lazer e tranquilidade para seu lazer!</p> -->
          </div>
    </div>

    <!-- <div class="container text-center banner">
        <div class="row">
            
        </div>
    </div> -->
    
    <!-- Teste banner -->
